.header {
  min-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 56px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .header {
    min-width: calc(100% - 96px);
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    min-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    min-width: calc(100% - 32px);
  }
}
