.cover {
  min-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover {
    min-width: 100%;
    min-height: calc(100vw * .625);
  }
}
